/* #d8f2f3 */
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');



*{
    margin: 0;
    padding: 0;
}

/* css for header */

.header{
    height: 850px;
    width: 100%;
    /* background-color: black; */
    display: inline-block;
    background-image: url(./images/banner-1.jpg);
    background-position: 0px;
    background-repeat: no-repeat;
}

.header-container{
    margin: 5px;
    height: 70px;
    width: 80%;
    /* background-color: red; */
    display: inline-block;
    margin-left: 10%;
    font-size: 0px;
    /* border-radius: 30px; */
    border: 1px solid rgb(250, 167, 12) ;
    border-left: 0px;
    border-right: 0px;
    color: rgb(250, 167, 12);
}
/* #ff0000 */

.logo{
    height: 70px;
    width: 15%;
    /* background-color: lightblue; */
    display: inline-block;
    font-size: 60px;
    text-indent: 8px;
    font-weight: 28px;
    font-family: 'Luxurious Roman', cursive;
    vertical-align: top;
}



.logo>div{
    display: inline-block;
    margin-left: -17px;
    font-weight: bold;
}

.logo-secchild{
    display: block;
    font-size: 22px;
    margin-top: -6px;
    margin-left: -3px;
}

.logo-firchild{
    display: block;
    font-size: 22px;
    padding-top:2px;
    margin-left: -8px;
}

.nav{
    height: 70px;
    width: 30%;
    /* background-color: yellow; */
    display: inline-block;
    font-size: 20px;
    margin-left: 55%;
}

.navigation{
    list-style: none;
    font-size: 0px;
    text-align: center;
    /* display: inline-block; */
}

.nav-link{
    height: 70px;
    /* background-color: green; */
    width: 20%;
    display: inline-block;
    font-size: 17px;
    font-family: 'Luxurious Roman';
    font-weight: 300;
    line-height: 70px;
    cursor: pointer;
} 

.message{
    /* height: 100px; */
    width: 20%;
    color: black;
    background-color: rgba(255, 255, 255,0.5);
    text-align: center;
    padding: 10px;
    margin-top: 450px;
    margin-left: 60%;
    font-family: 'Luxurious Roman';
    border-radius: 5px;
}

.message>p{
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn{
    background-color: rgb(250, 167, 12);
    font-family: 'Luxurious Roman';
    padding: 6px;
    margin: 10px 0px;
    border-radius: 5px;
    /* font-weight: bold; */
    cursor: pointer;
    justify-content: center;
}

/* css for cuisines */

.cuisines{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#d7efe2;
}

.section-title{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 35px;
     font-weight: 200;
     text-align: center;
}

.cuisine-container{
    width: 80%;
    /* background-color: red; */
    margin-left: 10%;
    margin-top: 30px;
}

.cuisine{
    width: 45%;
    height: 500px;
    background-color: #fff2da;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 10px; 
    overflow: hidden;
    box-shadow: 5px 5px 5px black;
}
.cuisine-img{
    height: 360px;
    width: 100%;
    /* background-color: blue; */
    overflow: hidden;
}

.cuisine-images{
    width: 100%;
}

.padd{
    padding: 15px;
}

.cuisine-title,.dish-title,.about-title,.social-title{
    font-family: 'Segoe UI';
    font-weight: bolder;
}

.cuisine-desc,.dish-desc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

/* css for table booking */

.table-booking{
    width: 100%;
    height: 400px;
    background-image: url(./images/table.jpg);
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.booking{
    width: 50%;
    height: 100px;
    /* background-color: white; */
    margin-left: 25%;
    margin-top: 150px;
    display: inline-block;
    text-align: center;
}

.email{
    width: 100%;
    height: 50px;
    border: 1px solid white;
    outline: none;
    background-color: transparent;
    border-radius: 10px;
    text-indent: 16px;
    color: white;
    margin-bottom: 10px;
}


/* css for menu */

.menu{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff2da;
}

.dish-container{
   width: 80%;
   /* height: 20px; */
   display: inline-block;
   margin-left: 10%;
   /* background-color: red;  */
   margin-top: 30px;
}

.dish{
    width: 24%;
    height: 400px;
    background-color:#d7efe2;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 0.6%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px black;
}

.dish-img{
    height: 250px;
    width: 100%;
    /* background-color: yellow; */
}

.dish-image{
    width: 100%;
    height: 100%;
}

.order-link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color:  rgb(250, 167, 12);
    border-radius: 10px;
}
/* css for about  */

.about{
    padding-top: 50px ;
    padding-bottom: 50px;
    background-color: #fff2da;
}

.about-container{
    width: 80%;
    margin-left: 10%;

}

.about-cont{
    width: 25%;
    height: 300px;
    /* background-color:gray ; */
    margin-top: 30px;
    align-items: center;
    display: inline-block;
    margin-left: 6%;
    /* text-align: center; */
}

.about-image{
    height: 280px;
    /* background-color: greenyellow; */
}

.about-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.about-title{
    text-indent: 24%;
    padding-bottom: 20px;
}


/* css for footer */

.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff2da;
}

.footer-container{
    width: 80%;
    margin-left: 10%;
}

.footer-section{
    width: 15%;
    height: 300px;
    /* background-color: red; */
    display: inline-block;
    margin-left: .65%;
    vertical-align: top;
}

.footer-list{
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
}

.list-head{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.list-item{
    margin-bottom: 5px;
}
.map{
    width: 50%;
    border-radius: 10px ;
    overflow: hidden;
}

.social-media{
    margin-left: 10%;
    width: 80%;
    margin-top: 50px;
    /* background-color: blanchedalmond; */
    text-align: center;
    display: inline-block;
    text-align: center;
}

.social{
    width: 40%;
    /* background-color: chartreuse; */
    margin-left: 28%;
}
.social-icon{
    margin-top: 10px;
    width: 50px;
    margin-left: 50px;
}

